@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;

}

header {
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.logo {
    color: #16507b;
}

.logo h2 {
    font-weight: normal;
    font-size: 22px;
}

.menu {
    width: 80%;
    text-align: right;
}

.menu a {
    color: #124265;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin-right: 30px;
    transition: 0.4s;

}

.menu a:hover {
    color: #007bff;
}

.menu .btn-menu {
    background-color: #007bff;
    display: inline-block;
    padding: 8px 20px;
    color: white;
    border-radius: 6px;
}

.menu .btn-menu:hover {
    background-color: #124265;
    color: white;
}

/* Section Main */
/* background-attachment: fixed;  cria o paralax*/

section.main {
    background-image: url('assets/260170.png');
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main__cta {
    width: 100%;
    margin: 60px 0;
    font-size: 40px;
    text-align: center;
}

.main__cta h2{
    color:#16507b ;
}

.main__cta p {
    color: gray;
    font-size: 25px;
    margin: 10px 0;
}

.main__cta button {
    background-color: #007bff;
    display: inline-block;
    padding: 8px 30px;
    cursor: pointer;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    border: 0;
}

.main__cta button:hover {
    background-color: #124265;
    color: white;
    transition: 0.4s;
}

.diferenciais {
    display: flex;
    flex-wrap: wrap;
}

.diferencial-single {
    background-color: white;
    width: 23%;
    margin-right: 2%;
    padding: 50px 20px;
    border-radius: 10px;
}

.diferencial-single i {
    color: #16507b;
    font-size: 23px;
}

.diferencial-single h2 {
    color:#16507b;
    margin:10px 0;
    font-size: 17px;

}
.diferencial-single p {
    color: gray;
    font-size: 14px;
    line-height: 30px;
} 

section.sobre {
    padding: 80px 0;
}

.chamada-sobre {
    width: 100%;
    text-align: center;
}

.chamada-sobre h2 {
    color: #124265;
    text-transform: uppercase;
}

.chamada-sobre p {
    font-size: 14px;
    color: gray;
    margin: 10px 0;
}

.conteudo-sobre {
    display: flex;
    flex-wrap: wrap;
}

.conteudo-sobre p {
    width: 48%;
    margin-right: 2%;
    /* margin: 0 20px; */
    color: #444;
}

.conteudo-sobre span {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.conteudo-sobre i {
    margin: 15px 0;
    display: flex;
}

.conteudo-sobre i::before {
    color: #007bff;
    margin-right: 10px;
}

section.conquistas {
    background-color: #f8fbfe;
    padding: 20px 0;
}

.conquista-single {
    width: 22%;
    margin-right: 3%;
    text-align: center;
    color: #124265;
  
}

.conquista-single h2 {
    font-size: 33px;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .diferencial-single {
        width: 100%;
        margin-bottom: 20px;
    }
    .conteudo-sobre p {
        width: 100%;
        margin: 0 20px;
        color: #444;
    }
}